body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg);
}
h1{background-color: rgba(240, 255, 255, 0.267);}
li{
    font-family: 'Sigmar', cursive; 
}